ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.content-one {
    background: #1F2937;
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 0;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
    
}

.hero-sub, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-radius: 7px;
    padding: 7px;
    width: 120px;
    color: white;
    font-family: Times, serif;
    font-size: 17px;
    font-weight: 700;
}

.test {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 280px;
}

.test-two {
    display: flex;
}

body {
    display: flex;
    background-color: black;
    margin-top: 0px;
    flex-direction: column;
    font-family: "roboto", sans-serif;
}

.content-two {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: white;
    padding: 50px;
}

.images-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-two {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.but {
    margin-left: 70px;
    background: white;
    width: 200px;
    height: 200px;
    border-color: #3882F6;
    border-radius: 15px;
    border-width: 4px;
}


.content-three {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.para {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.sign {
    text-align: end;
    font-size: 20px;
    padding-right: 20px;
}

.content-four {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.main-box {
    display: flex;
    background-color: #3882F6;
    padding: 70px;
    border-radius: 20px;
}


.zec {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 100px;
}

.zec > h3 {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    
}

.zec > p {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.zac > button {
    border-color: white;
    color: white;
    width: 150px;
    font-family: "roboto";
    font-weight: 900;
    font-size: 19px;
    border-width: 2px;
    border-radius: 10px;
}

.zac {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.content-five {
    background: #1F2937;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy > p {
    color: white;
    font-weight: 900;
    font-size: 18px;
}
